body {
  background-color: #4287f5;
  color: white;
  font-weight: bold;
}

h4, span{
  margin-left: 20px;
}

#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
color: black;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}